## Visual Studio & .NET .gitignore
[Bb]in/
[Oo]bj/
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.dbmdl
*.jfm
*.log

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

# Environment files
appsettings.Production.json
*.local.json

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
